:root{
    --white: hsl(0, 0%, 100%);
    --darkWhite: hsl(220,0%,98%);
    --gray: hsl(231,8%,61%);
    --lightGray: hsl(223,18%,96%);

    --darkGray: hsl(220,16%,96%);
    --blue:hsl(231,26%,24$);
    --darkBlue: hsl(233,11%,43%);
    --lightBlue: hsl(192,69%,51%);
    --green:hsl(136,64%,51%);
    --lightGreen: hsl(158,61%,49%);
}